.instruments-section {
  padding: 60px 40px;
  background: #3a281600;
  color: rgb(246, 242, 6);
}

.instruments-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.2rem;

  color: #ffcc00;

  text-shadow:
    0 0 5px rgba(255, 204, 0, 0.6),
    0 0 10px rgba(255, 204, 0, 0.5),
    0 0 20px rgba(255, 204, 0, 0.4);

  letter-spacing: 1px;
  font-weight: bold;
}


.instrument-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
}

/* Card */

.instrument-card {
  height: 230px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(231, 183, 13, 0.847);
  transition: transform 0.3s ease;
}

.instrument-card:hover {
  transform: scale(1.05);
}

/* Overlay */

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.018),
    rgba(0, 0, 0, 0.033)
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
}

/* Text */

.overlay h3 {
  margin: 0;
  font-size: 1.2rem;
}

.overlay p {
  font-size: 0.9rem;
  opacity: 0.8;
}

/* Button */

.play-btn {
  margin-top: 8px;
  background: #ffcc00;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.play-btn:hover {
  background: #ffaa00;
}
/* Gold Glowing Section Headings */

.gold-title {
  color: #ffd700; /* Gold */
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;

  text-shadow:
    0 0 8px rgba(255, 215, 0, 0.6),
    0 0 18px rgba(255, 215, 0, 0.4),
    0 0 30px rgba(255, 215, 0, 0.2);

  margin-bottom: 40px;
}
